desktop.ini
.ipynb_checkpoints
*/.ipynb_checkpoints/*
webapp/polls/rse_model/data/input/Entreprises/INSEE/*
.idea
*__pycache*
*debug*.ipynb
*_debug.csv
*model_debug/*
src/env/*
src/webapp/polls/rse_model/data/model/*