desktop.ini
.idea

**/.ipynb_checkpoints/
*__pycache*

*debug*.ipynb
(DEBUG)-*.csv
webapp/data/model/__Model_debug__/
webapp/batch7rse/db.sqlite3

webapp/data/model/DPEFs/__parsed_dpefs__/
webapp/data/model/DPEFs/__parsed_dpefs_debug__/
webapp/data/model/Model/
webapp/data/polls/models/dpef/

