{% extends "base.html" %}
{% block content %}

    <ul>
        {% for company in company_list %}
            <li>
                <a href="{% url 'polls:company_detail' company.id %}">{{ company.name }}</a>
                    (
                    {% for sector in company.sectors %}
                        {{ sector.name }}
                    {% endfor %}
                    )
                <ul>
                    {% for dpef in company.dpefs %}
                        <li>{{ dpef.file_object }} ({{ dpef.year }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}