{% extends "base2.html" %}
{% block content %}
{% load filters %}
{% load static %}

<div class="row justify-content-center myrow p-2">
    <div class="row justify-content-center myrow p-2">
        <table class="table">
          <tbody>
          {% for company in company_list %}
            <tr>
              <td><a href="{% url 'polls:company_detail' company.id %}">{{ company.name }}</a></td>
              <td> {% for sector in company.sectors %} {{ sector.name }} {% endfor %}</td>
              <td> {% for dpef in company.dpefs %} <li>{{ dpef.file_object }} ({{ dpef.year }}) <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></li> {% endfor %}</td>
            </tr>
           {% endfor %}
         </table>
    </div>
</div>

<form action="{% url 'polls:company_list' %}" method="post" class="form-rounded">
    {% csrf_token %}
    {{ form.company_name }}
    {{ form.sectors }}
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>




{% endblock content %}