{% extends "base2.html" %}
{% block content %}
{% load filters %}
{% load static %}

<div class="container justify-content-center m-2 p-2 mycontainer">

    <div class="row justify-content-center myrow">
        <h1><strong>{{ company.name }}</strong> - ID: {{ company.id }} <h1/>
    </div>

    <div class="row justify-content-center myrow">
        <i>{{ company.introduction }}</i>
    </div>

    <div class="row justify-content-center align-items-start myrow">

        <div class="col-5 p-3 mycol"> <p class="text-center"><p>Secteurs
        {% for sector in company.sectors %}
            <button class="btn btn-info">{{ sector.name }}</button>
        {% endfor %}</p></p></div>

        <div class="col-5 p-3 mycol"> <p class="text-center">DPEF disponibles : {{ company.pdf_name }} <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></p></div>

    </div>

<div class="row justify-content-start myrow"><h4>2 engagements détectés</h4>
    </div>
 <div class="row justify-content-center myrow p-2">
        <table class="table">
          <tbody>
            <tr>
              <td>"{{ company.name }} s'engage à réduire ....."</td>
              <td>p.75</td>
              <td> {{ company.name }}_2017_ddr.pdf </td>
              <td> <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></td>
            </tr>

            <tr>
              <td>"{{ company.name }} milite pour la sauvegarde des tortues ....."</td>
              <td>p.198</td>
              <td> {{ company.name }}_2017_ddr.pdf </td>
              <td> <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></td>
            </tr>

         </table>
   </div>

<!--    <form action="{% url 'polls:search' %}" method="post" class="form-rounded">-->
    {% csrf_token %}
    <div class="row justify-content-center myrow">
       <div class="col-12 mycol  p-1"><h3>Thème {{ form.search_bar | add_attr:"class: form-control-lg align-items-center,  placeholder:ex. Transformation des déchets" }} </h3></div>
    </div>

<div class="container justify-content-center mycontainer p-2">
        <table class="table">
            <thead>
            <tr>
              <th scope="col">Entreprise</th>
              <th scope="col">Extrait</th>
              <th scope="col">Pertinence</th>
              <th scope="col">Localisation</th>
              <th scope="col">Document</th>
            </tr>
          </thead>
          <tbody>
          {% for sentence in sentences %}
            <tr>
              <td>{{sentence.0.dpef.company.name}}</td>
              <td><i>{{ sentence.0.text }}</i></td>
              <td>{{ sentence.1 | percentage }}</td>
              <td> {{sentence.0.dpef.file_name}}, p.{{sentence.0.page}}</td>
              <td> <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></td>
            </tr>
           {% endfor %}
         </table>
    </div>


{% endblock content %}