{% extends "base2.html" %}
{% block content %}
{% load filters %}
{% load static %}

<div class="container justify-content-center m-2 p-2 mycontainer">

    <div class="row justify-content-center myrow">
        <h1><strong>{{ company.name }}</strong> <h1/>
    </div>

    <div class="row justify-content-center align-items-start myrow">

        <div class="col-5 p-3 mycol">
            <p class="text-center">
                <p>
                    <h5>Secteurs d'activité: <h5/>
                        {% for sector in company.sectors %}
                            <button class="btn btn-info">{{ sector.name }}</button>
                        {% endfor %}
                </p>
            </p>
        </div>

        <div class="col-5 p-3 mycol">
                <p class="text-center">
                    <h5>DPEF disponibles: <h5/>
                        {% for dpef in dpefs %}
                            <a href="{% url 'polls:download' company.id dpef.year%}">
                            <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px">
                                &nbsp;&nbsp;
                                {{dpef.year}}
                            </a>
                        {% endfor %}</p>
                </p>
        </div>

    </div>

<div class="row justify-content-start myrow"><h6>Quelles actions pour l'environnement ?</h6>
    </div>

<div class="container justify-content-center mycontainer p-2">
        <table class="table">
            <thead>
            <tr>
              <th scope="col">Entreprise</th>
              <th scope="col">Extrait</th>
              <th scope="col">Pertinence</th>
              <th scope="col">Localisation</th>
              <th scope="col">Document</th>
            </tr>
          </thead>
          <tbody>
          {% for sentence in sentences %}
            <tr>
              <td>{{sentence.0.dpef.company.name}}</td>
              <td><i>{{ sentence.0.text }}</i></td>
              <td>{{ sentence.1 | percentage }}</td>
              <td> {{sentence.0.dpef.file_name}}, p.{{sentence.0.page}}</td>
              <td> <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></td>
            </tr>
           {% endfor %}
         </table>
    </div>


{% endblock content %}