{% extends "base2.html" %}
{% load filters %}
{% load static %}
{% block content %}

<div class="container justify-content-center mycontainer shadow-sm p-3 mb-5 bg-white rounded">
    <form action="{% url 'polls:search' %}" method="post" class="form-rounded">
    {% csrf_token %}
    <div class="row justify-content-center myrow p-2">
       <div class="col-12 mycol  p-1"><strong>Thème</strong>{{ form.search_bar | add_attr:"class: form-control-lg align-items-center, placeholder:ex. Biodiversité" }} </div>
    </div>

    <div class="row  myrow p-2">
        <div class="col-sm-2 mycol text-right p-1"> <strong>Entreprise</strong></div>
        <div class="col-sm-4 mycol">   {{ form.search_bar | add_attr:"class: form-control align-items-center, placeholder:ex. Total" }}</div>
        <div class="col-sm-2 mycol text-right p-1"> <strong>Période</strong> </div>
         <div class="col-sm-4 mycol"> {{ form.start_period}} à {{ form.end_period }}</div>
    </div>

      <div class="row justify-content-start myrow p-2">
       <div class="col-4 mycol p-1"><strong>Secteurs</strong></div>

        <div class="btn-group btn-group-toggle col-12 mycol" data-toggle="buttons">
            {% for sector in form.sectors %}
            <label class="btn btn-outline-primary"> {{ sector }} </label>

            {% endfor %}
        </div>


      </div>
        <div class="row justify-content-center myrow">
        <button type="submit" class="btn btn-primary">Rechercher</button>
         </div>
    </form>

{% endblock content %}