{% extends "base2.html" %}
{% load filters %}
{% load static %}
{% block content %}

<div class="container justify-content-center mycontainer shadow p-3 mb-3 bg-white rounded">
        <h3 class="text-muted"> <b>Recherche thématique</b></h3>
    <p>Effectuez une recherche par mots-clefs parmi {{ total_sentences }} extraits issus de {{ total_docs }} DPEFs appartenant à  {{ total_companies }} entreprises réparties en {{ total_sectors }} secteurs</p>
    <form action="{% url 'polls:search' %}" method="post" class="form-rounded">
    {% csrf_token %}
    <div class="row justify-content-center myrow">
       <div class="col-12 mycol  p-1"><h3>Thème {{ form.search_bar | add_attr:"class: form-control-lg align-items-center,  placeholder:ex. Réchauffement climatique" }} </h3></div>
    </div>

    <div class="row justify-content-center myrow">
        <div class="col-sm-6 mycol text-center p-1">  <strong> {{ form.company_name.label }}</strong>
        {{ form.company_name | add_attr:"class: form-control, align-items-center, w-50, mx-2, placeholder:ex. Total" }}
        </div>

        <div class="col-sm-4 mycol text-center p-1"> <strong>Période</strong>
          {{ form.start_period}} à {{ form.end_period }}</div>
    </div>
<div class="row justify-content-center myrow">
      <div class="col-sm-12 mycol text-center p-1">  <strong> Secteurs </strong> (décocher)
       <div class="btn btn-group-toggle flex-wrap" data-toggle="buttons">
            {% for sector in form.sectors %}

            <label class="btn btn-outline-info my-1"> {{ sector }} </label>

            {% endfor %}
        </div>
   </div>
      </div>

        <div class="row justify-content-center myrow w-100 my-1">
        <button type="submit" class="w-50 btn btn-outline-dark">Rechercher</button>
         </div>
    </form>
</div>

<div class="container justify-content-center mycontainer p-2">
        <table class="table">
            <thead>
            <tr>
              <th scope="col">Entreprise</th>
              <th scope="col">Extrait</th>
              <th scope="col">Pertinence</th>
              <th scope="col">Localisation</th>
              <th scope="col">Document</th>
            </tr>
          </thead>
          <tbody>
          {% for sentence in sentences %}
            <tr>
              <td>{{sentence.0.reference_file.company.name}}</td>
              <td><i>{{ sentence.0.text }}</i></td>
              <td>{{ sentence.1 | percentage }}</td>
              <td> {{sentence.0.reference_file.file_name}}, p.{{sentence.0.page}}</td>
              <td> <img src="{% static 'img/download_pdf.png' %}"  alt="dl PDF" style="max-height:30px"></td>
            </tr>
           {% endfor %}
         </table>
    </div>




{% endblock content %}